<!DOCTYPE html>


<html>
		
		<head>
			<meta charset="utf-8" />
			<link rel="stylesheet" href="style.css" />
        	<title>Mathopo - Blog</title>

        	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
			<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" config="TeX-AMS-MML_HTMLorMML"></script>
			<script type="text/x-mathjax-config">
    		MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "all"} } });
			</script>
		</head>

		<body>
			<header>
				<nav>
					<ul>
						<a class = "itemNav" href="index.html"><li>ABOUT ME</li></a>
						<a class = "itemNav" href="Research.html"><li>RESEARCH INTERESTS</li></a>
						<a class = "itemNav" href="blog.html"><li>BLOG</li></a>
					</ul>
				</nav>
			</header>

		<div id="page-container">
			<section>
				<h1>Blog</h1>
				<p>
					Mathematics is a huge branch of Science. I'm interested in almost everything in mathematics. You will find some articles on many subjects: pure maths curiosity, applied mathematics and "deep" connection between maths and physics. My purpose is to give an introduction to a topic that is accessible to most commun mortals. Occasionaly, I will also write on advanced subjects. If this is the case, an alert note will be given at the beginning of the article.
				</p>

				<div class="blog_post_home_container">
					{% for post in posts %}
					<a class = "blog_post_home" href="blog-output/{{ post.slug }}.html" title="{{post.summary}}">
        				<!--<h2><a href="blog-output/{{ post.slug }}.html">{{post.title}}</a></h2>-->
        				
        				<h2>{{post.title}}</h2>
        				<p>
        					By <span id="authorstyle">{{post.author}}</span></br>
        					<strong> {{post.date}} </strong id="bold"> </br>
        					For {{post.level}}
        				</p>
        				<!--<p id="blog_post_resume">
        					{{post.summary}}
        				</p>-->
        			</a>
        			{% endfor %}
        		</div>

			</section>
		</div>

			<footer>
				<div class="textAligned">
					<a href="mailto:pierre-olivier.parise.1@ulaval.ca" title="Email me">MATHOPO</a>
				</div>
				<div class="textAligned">
					<span title="All rights reserve">Copyright 2020</span>
				</div>
			</footer>
		
		</body>
</html>